@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap");

// Font Variables
$rajdhani: "Rajdhani", serif;

.flexGrow {
  background-color: black;
  font-family: $rajdhani;
  font-size: 17px;
  font-weight: bold;
}

@media  (max-width: 650px) {
  .flexGrow {
    font-size: 15px;
  }
}

.test {
  font-family: $rajdhani;
  font-size: 17px;
  font-weight: bold;
  white-space: pre;
}

@media  (max-width: 650px) {
  .test {
    font-size: 15px;
    white-space:normal;
  }
}

@media  (max-width: 750px) {
  .test {
    white-space:normal;
  }
}
