@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap");

// Font Variables
$rajdhani: "Rajdhani", serif;

.bash {
  font-weight: 700;
  font-family: $rajdhani;
  font-size: 18px;
  overflow: scroll;

  .guest {
    color: #68f056;
  }

  .user {
    color: #8af47c;
  }

  .at {
    color: pink;
  }
}

@media  (max-width: 650px) {
  .bash {
    font-size: 16px;
  }
}
@media  (max-width: 450px) {
  .bash {
    font-size: 14px;
  }
}

