.background {
  background-color: black;
  height: 100vh;
  border: 4px solid #68f056;
  border-radius: 9px;
}

.banner {
  background-color: black;
}

.inner {
  overflow: scroll;
  color: #e05281;

  width: 95%;
}

@media  (max-width: 450px) {
  .inner {
    width:100%;
  }
}


